.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
    visibility: hidden;
    opacity: 0;
    animation: show-about 1s linear forwards;
    animation-delay: 1.7s;
}

@keyframes show-about{
    100%{
        visibility: visible;
        opacity: 1;
    }
}

.img-about{
    width: 100%;
    height: 100%;
    background: #0d1117;
    display: flex;
    justify-content: center;
    
}
.img-about img{
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 3px solid #00ff88;
    object-fit: cover;
    box-shadow: 0 0 10px #00ff88, 
                0 0 40px  #026838;
    transition: all 0.3s;            
}
.img-about img:hover{
    box-shadow: 0 0 10px #00ff88, 
                0 0 40px  #00ff88;
    transform: scale(1.05);            
}
.info-about{
    width: 90%;
    margin-right: 50px;
}
.info-about h1{
    font-size: 40px;
}
.info-about h2{
    margin: 20px 0;
    font-size: 25px;
    font-weight: 600;
}
@media (max-width: 900px) and (min-width: 768px){
    .img-about img{
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 768px) {  
    .about{
        flex-direction: column;
        padding: 60px 40px;
    }
    .img-about img{
        width: 300px;
        height: 300px;
    }
    .technical-bars{
        margin-left: -70px;
    }
}

/*section 3 Service*/

.Service{
    padding: 60px 0;
}
.Service h1{
    text-align: center;
    font-size: 40px;
    padding-bottom: 70px;
}
.my-services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
    gap: 30px;
    margin-left: 50px;
    margin-right: 70px;
    justify-content: center;
    align-items: center;
}
.card{
    margin: 0 20px;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    min-height: 270px;
    background-color: transparent;
    box-shadow: 0 0 10px #00ff88, 
                0 0 40px  #026838;
    transition: all 0.3s;                  
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 10px #00ff88, 
                0 0 40px  #00ff88;
}
.card h2{
    margin: 10px 0;
}
.card span{
    margin: 10px 0;
    font-size: 40px;
}
.card i{
    color: #00ff88;
}
.card P{
    margin-bottom: 20px;
}

/*section4 Skills*/

.skills h1{
    text-align: center;
}
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem; 
  margin: 0 auto;
  padding: 0 1rem;
}
.Technical-Skills,
.Professional-Skills {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 40px 30px;
  box-sizing: border-box;
}
.title{
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    margin-bottom: 50px;
}
.bar{
    font-size: 17px;
    margin-bottom: 30px;
}
.technical-bars .bar{
    margin-top: 40px  0;
}
.technical-bars .bar:first-child{
    margin-top: 0
}
.technical-bars .bar:last-child{
    margin-top: 0
}
.info-bar{
    margin-bottom: 5px;
}
.info-bar span{
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
}
.progress-line{
    position: relative;
    border-radius: 10px;
    width: 0%;
    height: 5px;
    background-color: black;
    animation: filload 1s forwards;
}
@keyframes filload{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.progress-line span{
    height: 100%;
    background-color: #00ff88;
    position: absolute;
    border-radius: 10px;
}
.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 85%;
}
.progress-line.javascript span{
    width: 50%;
}
.progress-line.react span{
    width: 30%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: black;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -20px;
    right: -20px;
    animation: showtext 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after{
    content: '90%';
}
.progress-line.css span::after{
    content: '85%';
}
.progress-line.javascript span::after{
    content: '50%';
}
.progress-line.react span::after{
    content: '30%';
}
.progress-line span::before{
    content: '';
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: black;
    top: -10px;
    right: 0;
    animation: showtext 0.5s 1.5s linear forwards;
    opacity: 00;
}
@keyframes showtext{
    100%{
        opacity: 1;
    }
}
.redial-bars{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.redial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.redial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: #00ff88;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{
     animation: animate-path1 1s 1s linear forwards;
}
.path-2{
     animation: animate-path2 1s 1s linear forwards;
}
.path-3{
     animation: animate-path3 1s 1s linear forwards;
}
.path-4{
     animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 175;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 75;
    }
}

.percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
}
.text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 23%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
}
@media screen and (max-width: 710px){
    .Technical-Skills{
        width: 600px;
        height: 500px;
        padding: 75px 90px;
    }
    .Professional-Skills{
        width: 600px;
        height: 500px;
        padding: 75px 90px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .redial-bar {
    flex: 1 1 40%; /* 2 دوائر في الصف */
    max-width: 180px;
  }

  .Technical-Skills,
  .Professional-Skills {
    padding: 50px 40px;
  }
}

/* section 5 Project */

.project{
    padding: 70px 0;
}
.project h1{
    text-align: center;
    font-size: 40px;
}
.latest-project{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
    gap: 10px;
    margin: 0 50px;
    margin-top: 50px;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    max-width: 400px;
}
.row img{
    width: 100%;
    border-radius: 8px;
    transition: transform 0.5s;
}
.row:hover img{
    transform: scale(1.1);
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1),#00ff88);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.row:hover .layer{
    height: 100%;
}
.layer h5{
    color: black;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 7px;
}
.layer p{
    color: black;
    font-size: 14px;
}
.layer i{
    color: #00ff88;
    font-size: 17px;
    margin-top: 15px;
    background: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* section 6 Contact */

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px 0;
    margin: 0 20px;
}
.contact-info{
    margin-right: 30px;
}
.contact-info h4{
    text-align: center;
    font-size: 27px;
    padding-bottom: 30px;
}
.contact-info h5{
    font-size: 18px;
    padding-bottom: 20px;
}
.contact-info .info{
    padding-bottom: 30px;
    width: 100%;
    font-size: 15px;
}
.my-contact{
    margin-bottom: 50px;
}
.sci-contact a{
    margin: 0 8px;
    display: inline-flex;
    padding: 8px;
    border: 2px solid #00ff88;
    border-radius: 50%;
    font-size: 17px;
    color: #00ff88;
    transition: all 0.3s;
}
.sci-contact i{
    color: #00ff88;
}
.sci-contact a:hover{
    color: black;
    background-color: #00ff88;
    box-shadow: 0 0 10px #00ff88;
}
.sci-contact i:hover{
    color: black;
}
.contact-form{
    width: 100%;
    height: 100%;
}
.contact-form input{
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    background-color: #2e3946;
    border: none;
    outline: none;
}
.contact-form textarea{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    background-color: #2e3946;
    border: none;
    outline: none;
}
input::placeholder,textarea::placeholder{
    color: #0d1117;
}
input:focus,textarea:focus{
    border: #00ff88 solid;
}
.send{
    margin-top: 10px;
    font-size: 20px;
    width: 100%;
    background: #00ff88;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    box-shadow: 0 0 10px #00ff88;
}

.send span {
    color: black;
    text-align: center;
    display: block;
    margin-left: 0.8em;
    transition: all 0.3s ease-in-out;
}

.send svg {
  color: black;
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
.send:hover{
    box-shadow: none;
}

.send:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.send:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.send:hover span {
  transform: translateX(5em);
}

.send:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/* footer */

footer{
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    background-color: #056337;
}

@media (max-width: 900px) and (min-width: 768px){
    .contact{
        display: grid;
        row-gap: 2rem;
    }
    .send{
        font-size: 17px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:768px){
    .Professional-Skills{
        padding: 75px 20px;
    }
    .project h1{
        font-size: 33px;
    }
    .latest-project{
        display: grid;
        grid-template-columns: repeat(1, minmax(359px));
        justify-content: center;
        gap: 10px;
        margin: 0 50px;
        margin-top: 50px;
    }
    .contact{
        display: grid;
        row-gap: 2rem;
    }
    .send{
        font-size: 17px;
    }
    footer{
        font-size: 14px;
    }
}