.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 1.5s;
}
@keyframes show-content{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.home-info h1{
    font-size: 55px;
}
.home-info h2{
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;
}
.home-info h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 0.7px #00ff88;
    animation: show-text 16s linear infinite;
    animation-delay: calc(-4s * (var(--i)));
}
@keyframes show-text{
    25%,100%{
        display: none;
    }
}
.home-info h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #00ff88;
    color: #00ff88;
    white-space: nowrap;
    overflow: hidden;
    animation: fit-text 4s linear infinite;
}
@keyframes fit-text{
    10%,100%{
        width: 0;

    }
    70%,90%{
        width: 100%;
        
    }
}
.home-info p{
    margin: 10px 0 25px;
}
.icon{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    border: 2px solid #00ff88;
    border-radius: 40px;
    padding: 10px 30px;
    margin-right: 20px;
    background-color: #00ff88;
    box-shadow: 0 0 10px #00ff88;
    color: black;
    font-weight: 600;
    transition: all 0.3s;
}
.btn:hover{
    color: white;
    background-color: transparent;
    box-shadow: none;
}
.home-info .icon .sci a{
    margin: 0 8px;
    display: inline-flex;
    padding: 8px;
    border: 2px solid #00ff88;
    border-radius: 50%;
    font-size: 20px;
    color: #00ff88;
    transition: all 0.3s;
    place-items: center;
}
.sci i{
    color: #00ff88;
}
.home-info .icon .sci a:hover{
    color: black;
    background-color: #00ff88;
    box-shadow: 0 0 10px #00ff88;
}
.sci i:hover{
    color: black;
}

.img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img-box::before, 
.img-box::after{
    content: '';
    position: absolute;
    height: 442px;
    width: 442px;
    background: conic-gradient(transparent, transparent, transparent, #00ff88);
    transform: rotate(0deg);
    animation: rotete-border 10s linear infinite;
}
.img-box::after{
    animation-delay: -5s;
}
@keyframes rotete-border{
    100%{
        transform: rotate(360deg);
    }
}
.img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: #0d1117;
    border-radius: 50%;
    border: .1px solid #0d1117;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}
.img-item img{
    bottom: 50px;
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}
@media screen and (max-width: 900px) and (min-width: 768px) {
    .home{
        height: 70vh;
        padding: 60px 4% 0;
    }
    .home h1{
        font-size: 45px;
    }
    .home h2{
        font-size: 26px;
    }
    .btn{
        padding: 7px 15px;
        margin-right: 20px;
    }
    .home-info .icon .sci a{
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) {  
    .home{
        flex-direction: column-reverse;
        column-gap: 0;
        padding: 5px 4% 0;
    }
    .home h1{
        font-size: 45px;
    }
    .home h2{
        font-size: 26px;
    }
    .img-box{
        width: 60vw;
        height: 60vw;
    }
    .img-box{
        margin-bottom: 70px;
    }
}
@media screen and (max-width: 440px){
    .home-info .icon .sci a{
        font-size: 13px;
        margin: 0 3px;
        padding: 5px;
    }
    .home h1{
        font-size: 30px;
    }
    .btn{
        padding: 5px 25px;
        font-size: 15px;
    }
    .img-box{
        width: 70vw;
        height: 70vw;
    }
}